<form method="post">
    <div class="mb-3">
        <label class="form-label" for="Country">Country</label>
        <input type="text" class="form-control" id="Country" name="Country">
    </div>
    <div class="mb-3">
        <label class="form-label" for="City">City</label>
        <input type="text" class="form-control" id="City" name="City">
    </div>
    <div class="mb-3">
        <label class="form-label" for="Price">Price</label>
        <input type="number" class="form-control" id="Price" name="Price">
    </div>
    <div class="mb-3">
        <label class="form-label" for="Picture">Picture (Url)</label>
        <input type="text" class="form-control" id="Picture" name="Picture">
    </div>
    <div class="mb-3">
        <label class="form-label" for="Url">Link to add</label>
        <input type="text" class="form-control" id="Url" name="Url">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>