@model List<RentReview.Models.DataModels.ViewUsersDataModel>

<ul>
    @foreach (var user in @Model)
    {
        @if(user.IsAdmin == null)
        {
            <li>@user.Name - <a href="PromoteUser?Id=@user.Id" class="btn btn-primary">Promote</a> </li>
        }
        else
        {
            <li>@user.Name - <a href="DemoteUser?Id=@user.Id" class="btn btn-primary">Demote</a> </li>
        }
    }
</ul>