.InfoForm {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
    background-color: white;
    width: 440px;
    height: 200px;
    text-align: center;
}

.prosSelect {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
    background-color: white;
    width: 250px;
    height: 200px;
    margin-left: 500px;
    margin-top: -200px;
}

.consSelect {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
    background-color: white;
    width: 250px;
    height: 200px;
    margin-left: 800px;
    margin-top: -200px;
}

.mb-3 {
    display: inline-block;
    width: 190px;
    margin-left: 10px;
    margin-right: 10px;
}

.list-group {
    width: 250px;
    height: 170px;
    overflow: hidden;
    overflow-y: scroll;
}

button {
    margin-left: 500px;
    margin-top: 50px;
}

.landlordReview {
    width: 390px;
    margin-top: 15px;
}

.neighbourReview {
    width: 390px;
    margin-top: -170px;
    margin-left: 405px;
}

.propertyReview {
    width: 370px;
    margin-top: -170px;
    margin-left: 810px;
}