<div>
    <form method="post">
        <div class="InfoForm">
            <div class="mb-3">
                <label for="Rented">Rented</label>
                <input type="date" class="form-control" id="Rented" name="Rented">
            </div>

            <div class="mb-3">
                <label for="Vacated">Vacated</label>
                <input type="date" class="form-control" id="Vacated" name="Vacated">
            </div>

        </div>

        <div class="prosSelect">
            <h5 class="card-header">Select Pros</h5>
            <ul class="list-group">

                <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Near School / kindergarden">
                    <label for="Pros">Near School / kindergarden</label><br>
                </li>

                <li class="list-group-item">
                    <input type="checkbox"  id="Pros" name="Pros" value="Near 24/7 pharmacy">
                    <label for="Pros">Near 24/7 pharmacy</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Near hospital / clinic">
                    <label for="Pros">Near hospital / clinic</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Near 24/7 supermarket">
                    <label for="Pros">Near 24/7 supermarket</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Near a bus stop">
                    <label for="Pros">Near a bus stope</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Quiet street">
                    <label for="Pros">Quiet street</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Clean street">
                    <label for="Pros">Clean street</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Has garage">
                    <label for="Pros">Has garage</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Has elevetor">
                    <label for="Pros">Has elevetore</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Easy to warm up">
                    <label for="Pros">Easy to warm up</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Easy to cool down">
                    <label for="Pros">Easy to cool down</label><br>
                </li>
                   <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Has a private pool for tenants">
                    <label for="Pros">Has a private pool for tenants</label><br>
                </li>
                   <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Has a private gym for tenants">
                    <label for="Pros">Has a private gym for tenants</label><br>
                </li>
                   <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Has a private park for tenants>
                    <label for="Pros">Has a private park for tenants</label><br>
                </li>
                   <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Employeed cleaning crew for building">
                    <label for="Pros">Employeed cleaning crew for building</label><br>
                </li>
                   <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Has security">
                    <label for="Pros">Has security</label><br>
                </li>
                   <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Low crime">
                    <label for="Pros">Low crime</label><br>
                </li>
                   <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Allows pets">
                    <label for="Pros">Allows pets</label><br>
                </li>
                   <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Good neighbours">
                    <label for="Pros">Good neighbours</label><br>
                </li>
                   <li class="list-group-item">
                    <input type="checkbox" id="Pros" name="Pros" value="Good landlord">
                    <label for="Pros">Good landlord</label><br>
                </li>
            </ul>
        </div>

        <div class="consSelect">
            <h5 class="card-header">Select Cons</h5>
            <ul class="list-group">

                <li class="list-group-item">
                    <input type="checkbox" id="Cons" name="Cons" value="Noisy">
                    <label for="Cons">Noisy</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Cons" name="Cons" value="Dirty">
                    <label for="Cons">Dirty</label><br>
                </li>
                 <li class="list-group-item">
                    <input type="checkbox" id="Cons" name="Cons" value="Poor district">
                    <label for="Cons">Poor district</label><br>
                </li>
                 <li class="list-group-item">
                    <input type="checkbox" id="Cons" name="Cons" value="Crime">
                    <label for="Cons">Crime</label><br>
                </li>
                 <li class="list-group-item">
                    <input type="checkbox" id="Cons" name="Cons" value="No elevator">
                    <label for="Cons">No elevator</label><br>
                </li>
                 <li class="list-group-item">
                    <input type="checkbox" id="Cons" name="Cons" value="No way near a bus stop">
                    <label for="Cons">No way near a bus stop</label><br>
                </li>
                 <li class="list-group-item">
                    <input type="checkbox" id="Cons" name="Cons" value="No way near a hospital / clinic">
                    <label for="Cons">No way near a hospital / clinic</label><br>
                </li>
                 <li class="list-group-item">
                    <input type="checkbox" id="Cons" name="Cons" value="No way near a pharmacy">
                    <label for="Cons">No way near a pharmacy</label><br>
                </li>
                 <li class="list-group-item">
                    <input type="checkbox" id="Cons" name="Cons" value="No way near a school / kindergarden">
                    <label for="Cons">No way near a school / kindergarden</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Cons" name="Cons" value="Doesnt allow pets">
                    <label for="Cons">Doesnt allow pets</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Cons" name="Cons" value="Hard to find a parking spot">
                    <label for="Cons">Hard to find a parking spot</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Cons" name="Cons" value="Bad neighbours">
                    <label for="Cons">Bad neighbours</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="Cons" name="Cons" value="Bad landlord">
                    <label for="Cons">Bad landlord</label><br>
                </li>
            </ul>
        </div>

        <div class="landlordReview">
            <h5 class="card-header">Write something about the landlord</h5>
            <textarea name="LandlordReview" id="LandlordReview" cols="50" , rows="5"></textarea>
        </div>

        <div class="neighbourReview">
            <h5 class="card-header">Write something about the neighbour</h5>
            <textarea name="NeighbourReview" id="NeighbourReview" cols="50" , rows="5"></textarea>
        </div>

        <div class="propertyReview">
            <h5 class="card-header">Write something about the property</h5>
            <textarea name="PropertyReview" id="PropertyReview" cols="47" , rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<link rel="stylesheet" href="~/css/Review/Add.css"></link>