<div>
    <form method="post">

        <div class="InfoForm">
            <div class="mb-3">
                <label>Address</label>
                <input type="text" class="form-control">
            </div>

            <div class="mb-3">
                <label>Price</label>
                <input type="number" class="form-control">
            </div>

            <div class="mb-3">
                <label>Rented</label>
                <input type="date" class="form-control">
            </div>

            <div class="mb-3">
                <label>Vacated</label>
                <input type="date" class="form-control">
            </div>

        </div>

        <div class="prosSelect">
                <h5 class="card-header">Select Pros</h5>
                <ul class="list-group">

                    <li class="list-group-item">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>
                    </li>

                    <li class="list-group-item">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>
                    </li>
                       <li class="list-group-item">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>
                    </li>   <li class="list-group-item">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> I have a bike</label><br>
                    </li>
                </ul>
        </div>

        <div class="consSelect">
            <h5 class="card-header">Select Cons</h5>
            <ul class="list-group">

                <li class="list-group-item">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </li>

                <li class="list-group-item">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </li>
                <li class="list-group-item">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                </li>
            </ul>
        </div>

        <div class="landlordReview">
             <h5 class="card-header">Write something about the landlord</h5>
            <textarea cols="50", rows="5"></textarea>
        </div>

        <div class="neighbourReview">
            <h5 class="card-header">Write something about the neighbour</h5>
            <textarea cols="50" , rows="5"></textarea>
        </div>

         <div class="propertyReview">
            <h5 class="card-header">Write something about the property</h5>
            <textarea cols="47", rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



<style>
    .InfoForm {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
        background-color: white;
        width: 440px;
        height: 200px;
        text-align: center;
    }

    .prosSelect {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
        background-color: white;
        width: 250px;
        height: 200px;
        margin-left:500px;
        margin-top:-200px;
    }

    .consSelect {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
        background-color: white;
        width: 250px;
        height: 200px;
        margin-left: 800px;
        margin-top: -200px;
    }

    .mb-3 {
        display: inline-block;
        width: 190px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .list-group {
        width: 250px;
        height: 170px;
        overflow: hidden;
        overflow-y: scroll;
    }

    button{
        margin-left:500px;
        margin-top:50px;
    }

    .landlordReview {
        width:390px;
        margin-top:15px;
    }

    .neighbourReview {
        width:390px;
        margin-top:-170px;
        margin-left:405px;
    }

    .propertyReview {
        width: 370px;
        margin-top: -170px;
        margin-left: 810px;
    }

</style>