<div class="reviewInfo">

    <img src="https://img.freepik.com/premium-vector/cute-hamster-illustration-hamster-kawaii-chibi-vector-drawing-style-hamster-cartoon_622550-46.jpg?w=360" />

    <div class="tenant">
        hi
    </div>

    <div class="pros">
        hi
    </div>

    <div class="cons">
        hi
    </div>

</div>

<div class="reviews">

    <div class="neighbour" id="reviewBox">
        hi
    </div>

    <div class="property" id="reviewBox">
        hi
    </div>

    <div class="landlord" id="reviewBox">
        hi
    </div>

</div>

<style>

    .property {
        background-color: red;
    }

    .landlord {
        background-color: blue;
    }

    .neighbour {
        background-color: green;
    }

    img {
        width:250px;
        height:300px;
    }

    .tenant {
        background-color: yellow;
        margin-left:270px;
        margin-top:-300px;
        width:250px;
        height:300px;
    }

    .pros {
        background-color: pink;
        margin-left: 540px;
        margin-top: -300px;
        width: 250px;
        height: 300px;
    }

    .cons {
        background-color: black;
        margin-left: 810px;
        margin-top: -300px;
        width: 250px;
        height: 300px;
    }

    #reviewBox {
        display: inline-block;
        width: 350px;
        height: 250px;
        margin-top:15px;
    }

</style>