<nav>
    <ul>

        <li>
            <a class="nav-link" href="/Admin/Home/Index">Home</a>
        </li>

        <li>
            <a class="nav-link" href="/Admin/User/DeleteUser">Delete user</a>
        </li>

        <li>
            <a class="nav-link" href="/Admin/User/PromoteUser">Make someone an admin</a>
        </li>

        <li>
            <a class="nav-link" href="/Review/All">Public part</a>
        </li>

    </ul>
</nav>

<link rel="stylesheet" href="~/css/Admin/Index.css"></link>